:root{
    --primario: #F9E79F;
    --primarioOscuro: #F8C471;
    --secundario: #EE6C2F;
    --secundarioOscuro: #000000;
    --blanco: #FFFFFF;
    --negro: #000000;
    --fuentePrincipal: 'Fjalla One', sans-serif;
}

/* Globales */
html{
    font-size: 62.5%; /*para regular el tamano y poder usar REM para que sea mas adapatable a los dispositivos*/
    box-sizing: border-box; /*Hack para Box Model*/
}
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    font-size: 1.6rem; /*para regular el tamano y poder usar REM*/
    line-height: 1.5;
    background-color: var(--primario);
}
p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}
h1, h2, h3{
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
    text-transform: uppercase;
}
h1{ 
    font-size: 3rem; 
}
h2{ 
    font-size: 2.2rem; 
}
h3{ 
    font-size: 1.4rem; 
}

/* Header */
.header{
    display: flex;
    justify-content: center;
}

.header__logo{
    margin: 3rem 0;
}

/* naveagcion */
.navegacion{
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    /*gap: 2rem;*/ /*se puede usar para separar los elementos del navegador*/
}
.navegacion__enlace{
    font-family: var(--fuentePrincipal);
    text-transform: uppercase;
    font-size: 2.4rem;
    margin-right: 1.5rem;
    color: var(--blanco);
}
.navegacion__enlace:last-of-type{
    margin-right: 0;
}
.navegacion__enlace--activo, .navegacion__enlace:hover{
    color: var(--secundario);
}


/* Footer */
.footer{
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    margin-top: 2rem;
}
.footer__text{
    text-align: center;
    font-family: var(--fuentePrincipal);
    font-size: 2rem;
}

/* GRID */
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin: auto;
}
.producto{
    background-color: var(--primarioOscuro);
    padding: 1rem;
}
.producto__nombre{
    font-size: 3rem;
}
.producto__precio{
    font-size: 1.8rem;
    color: var(--secundario);
}
.producto__nombre, .producto__precio{
    font-family: var(--fuentePrincipal);
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
}

/* GRAFICOS */
.grafico {
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover; /*para que la imagine tome todo el espacio disponible*/
    grid-column: 1 / 3; /*en la visa de dispositivo movil tiene las mismas columnas*/
}
.grafico__camisas {
    grid-row: 2 / 3;
    background-image: url(../img/grafico1.jpg);
}
.grafico__node {
    background-image: url(../img/grafico2.jpg);
    grid-row: 8 / 9;
}

/** Nosotros **/
.nosotros {
    display: grid;
    grid-template-rows: repeat(2, auto); /*auto para que tome solo el tamano*/
    margin: auto;
}

.nosotros__imagen {
    grid-row: 1 / 2;
}

.nosotros__texto{
    margin: 3rem;
    text-align: center;
    color: var(--negro);
    font-size: 3rem;
}

.comprar__titulo{
    font-size: 3rem;
}

.bloques{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.bloque{
    margin: 0 1rem;
    text-align: center;
}

.bloque__titulo{
    margin: 0;
    font-size: 2rem;
}

.bloque p{
    text-align: center;
    font-size: 1.4rem;
}

/*Pagina del producto*/
.camisa{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.camisa__contenido p{
    margin: 2rem;
}
.formulario {
    margin-left: 2rem;
    width: 100%;
}
.formulario__campo {
   border: 1rem solid var(--primarioOscuro);
   background-color: transparent;
   color: var(--blanco);
   font-size: 2rem;
   font-family: Arial, Helvetica, sans-serif;
   padding: 1rem;
   appearance: none;
}
.formulario__submit {
    background-color: var(--secundario);
    border: none;
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
    padding: 2rem;
    transition: background-color .3s ease;
    grid-column: 1 / 2;
}
.formulario__submit:hover {
    cursor: pointer;
    background-color: var(--secundarioOscuro);
}
.campo{
    margin: 1rem 0;
}

